<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>verifyServlet</servlet-name>
        <servlet-class>verifyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WelcomeServlet</servlet-name>
        <servlet-class>WelcomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminLoginServlet</servlet-name>
        <servlet-class>adminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addUserServlet</servlet-name>
        <servlet-class>addUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteUserServlet</servlet-name>
        <servlet-class>deleteUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteUserMessage</servlet-name>
        <servlet-class>deleteUserMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resetPassServlet</servlet-name>
        <servlet-class>resetPassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>passChangeMsgServlet</servlet-name>
        <servlet-class>passChangeMsgServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeDBServlet</servlet-name>
        <servlet-class>changeDBServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resetDBMessage</servlet-name>
        <servlet-class>resetDBMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkboxServlets</servlet-name>
        <servlet-class>checkboxServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processingServlet</servlet-name>
        <servlet-class>processingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downlaodtypeServlet</servlet-name>
        <servlet-class>downlaodtypeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fileDownloadservlet</servlet-name>
        <servlet-class>fileDownloadservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fileDownloadservletTxt</servlet-name>
        <servlet-class>fileDownloadservletTxt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fileDownloadservletPDF</servlet-name>
        <servlet-class>fileDownloadservletPDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloadcsv</servlet-name>
        <servlet-class>downloadcsv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloadtxt</servlet-name>
        <servlet-class>downloadtxt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloaddoc</servlet-name>
        <servlet-class>downloaddoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>csvfileupload</servlet-name>
        <servlet-class>csvfileupload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>txtfileupload</servlet-name>
        <servlet-class>txtfileupload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>csvread</servlet-name>
        <servlet-class>csvread</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>txtread</servlet-name>
        <servlet-class>txtread</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloadoption</servlet-name>
        <servlet-class>downloadoption</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>verifyServlet</servlet-name>
        <url-pattern>/verifyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WelcomeServlet</servlet-name>
        <url-pattern>/WelcomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminLoginServlet</servlet-name>
        <url-pattern>/adminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addUserServlet</servlet-name>
        <url-pattern>/addUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteUserServlet</servlet-name>
        <url-pattern>/deleteUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteUserMessage</servlet-name>
        <url-pattern>/deleteUserMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resetPassServlet</servlet-name>
        <url-pattern>/resetPassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>passChangeMsgServlet</servlet-name>
        <url-pattern>/passChangeMsgServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeDBServlet</servlet-name>
        <url-pattern>/changeDBServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resetDBMessage</servlet-name>
        <url-pattern>/resetDBMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkboxServlets</servlet-name>
        <url-pattern>/checkboxServlets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processingServlet</servlet-name>
        <url-pattern>/processingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downlaodtypeServlet</servlet-name>
        <url-pattern>/downlaodtypeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fileDownloadservlet</servlet-name>
        <url-pattern>/fileDownloadservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fileDownloadservletTxt</servlet-name>
        <url-pattern>/fileDownloadservletTxt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fileDownloadservletPDF</servlet-name>
        <url-pattern>/fileDownloadservletPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloadcsv</servlet-name>
        <url-pattern>/downloadcsv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloadtxt</servlet-name>
        <url-pattern>/downloadtxt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloaddoc</servlet-name>
        <url-pattern>/downloaddoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>csvfileupload</servlet-name>
        <url-pattern>/csvfileupload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>txtfileupload</servlet-name>
        <url-pattern>/txtfileupload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>csvread</servlet-name>
        <url-pattern>/csvread</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>txtread</servlet-name>
        <url-pattern>/txtread</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloadoption</servlet-name>
        <url-pattern>/downloadoption</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            10
        </session-timeout>
    </session-config>
</web-app>
